.contact{
  .container{
    .content{
      display: flex;
      justify-content: space-between;
      width: 100%;
      .contact-info{
        margin: 0 auto;
        h2{
          font-size: 2.1em;
          font-weight: 800;
          margin-bottom: 40px;
        }
        .contact-list{
          li{
            margin-bottom: 40px;
            h3{
              font-size: 1.3em;
              font-weight: 600;
              margin-bottom: 10px;
              i{
                color: var(--second-color);
                font-size: 1.3em;
                margin-right: 10px;
              }
            }
            span{
              color: var(--third-color);
              margin-left: 42px;
              a{
                color: var(--third-color);
                &:hover{
                  color: var(--second-color);
                }
              }
            }
          }
        }
      }
      .contact-form{
        p{
          color: var(--third-color);
          font-size: 1.6em;
          margin-bottom: 30px;
          span{
            color: var(--first-color);
            font-weight: 700;
            line-height: 2;
          }
        }
        .contact-form-body{
          input,textarea{
            border: none;
            color: var(--first-color);
            background-color: $transparent-color-02;
            font-size: $normal-font-size;
            margin-bottom: 20px;
            padding: 25px 40px 25px 20px;
            border-radius: 5px;
            &:focus{
              background-color: var(--transparent-color-01);
              outline: none;
            }
          }
          textarea{
            width: 100%;
            resize: none;
          }
          ::placeholder{
            color: var(--first-color);
          }
          .first-row{
            input{
              width: 100%;
            }
          }
          .second-row{
            display: flex;
            justify-content: space-between;
            input{
              width: 48%;
            }
          }
          .btn{
            border: none;
            margin-top: 0;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

