footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--second-color);
  margin-top: 50px;
  padding: 3rem 2rem;
  color: #ffffff;
  a{
    color: #ffffff;
    &:hover{
      color: var(--first-color);
    }
  }
  .footer-container{
    width: 100%;
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
    .about{
      h2{
        font-size: 3em;
        font-weight: 600;
        margin-bottom: 10px;
        background: linear-gradient(to top, transparent 0%, #ffffff 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.8;
      }
      p{
        font-size: $normal-font-size;
        font-weight: 300;
        margin-block: 15px;
       line-height: 1.5;
      }
    }
    .info,
    .link{
      display: flex;
      flex-direction: column;
      align-items: center;
      h3{
        font-size: 1.3em;
        font-weight: 500;
        margin-bottom: 30px;
      }
      ul{
        display: flex;
      }
      a{
        margin: 20px;
      }
    }
    .link{
      a{
        font-size: 1.5em;
      }
    }
  }
  .footer-copyright{
    font-size: $normal-font-size;
    font-weight: 300;
    margin-top: 50px;
  }
}