.main-container .banner {
  width: 100%;
}
.main-container .banner img {
  width: 100%;
}
.main-container .banner-768 {
  display: none;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container .banner-768 img {
  width: 100%;
}
.main-container .banner-768 .title {
  position: relative;
  text-align: center;
  margin-top: 28px;
}
.main-container .banner-768 .title p {
  background: linear-gradient(to bottom, #aa0000 20%, #d1d1d1, #ffffff);
  background: -webkit-linear-gradient(to bottom, #aa0000 20%, #d1d1d1, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Italianno", cursive;
  font-size: 96px;
  font-weight: 400;
}
.main-container .banner-768 .title span {
  width: 100%;
  font-size: var(--font-size-sec-title);
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: var(--font-weight-bold);
  letter-spacing: 8px;
  color: var(--first-color);
}

.card-group {
  width: 90%;
  margin: auto;
  padding-block: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}
.card-group .card {
  width: 100%;
}
.card-group .card img {
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 16px;
  margin-bottom: 24px;
}
.card-group .card .card-info {
  text-align: center;
}
.card-group .card .card-info .card-title {
  width: 80%;
  margin: auto;
  padding: 4px 20px;
  border-radius: 50px;
  color: var(--sup-one);
  background-color: var(--secondary-color);
  margin-bottom: 24px;
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-semibold);
  letter-spacing: 4px;
}
.card-group .card .card-info .card-content {
  color: var(--secondary-color);
  font-size: var(--font-size-describe);
  letter-spacing: 4px;
  font-weight: var(--font-weight-medium);
  padding-inline: 8px;
}

@media (max-width: 1560px) {
  .card-group {
    width: 90%;
    padding-block: 80px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1165px) {
  .card-group {
    width: 95%;
    padding-block: 80px;
    grid-template-columns: repeat(3, 1fr);
  }
  .card-group .card img {
    margin-bottom: 12px;
  }
  .card-group .card .card-info .card-title {
    font-size: var(--font-size-describe);
    margin-bottom: 12px;
    letter-spacing: 2px;
  }
  .card-group .card .card-info .card-content {
    font-size: 18px;
  }
}
@media (max-width: 915px) {
  .card-group {
    width: 95%;
    padding-block: 45px;
    grid-template-columns: repeat(2, 1fr);
  }
  .card-group .card img {
    margin-bottom: 12px;
  }
  .card-group .card .card-info .card-title {
    font-size: var(--font-size-describe);
    margin-bottom: 12px;
    letter-spacing: 2px;
  }
  .card-group .card .card-info .card-content {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .card-group {
    padding-block: 28px;
  }
  .main-container .banner {
    display: none;
  }
  .main-container .banner-768 {
    display: flex;
  }
}
@media (max-width: 590px) {
  .card-group {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .card-group .card img {
    margin-bottom: 12px;
  }
  .card-group .card .card-info .card-title {
    font-size: var(--font-size-describe);
    margin-bottom: 12px;
    letter-spacing: 2px;
  }
  .card-group .card .card-info .card-content {
    font-size: 18px;
  }
}
@media (max-width: 495px) {
  .card-group {
    padding-block: 16px;
  }
  .main-container .banner {
    display: none;
  }
  .main-container .banner-768 {
    display: flex;
  }
  .main-container .banner-768 .title {
    margin-top: 16px;
  }
  .main-container .banner-768 .title p {
    font-size: 72px;
  }
  .main-container .banner-768 .title span {
    font-size: 24px;
  }
}/*# sourceMappingURL=card.css.map */