.contactus {
  width: 100%;

  .title {
    position: relative;
    text-align: center;
    margin: 28px 0 80px 0;
    span {
      background: linear-gradient(to bottom,  #aa0000 20%,
      #d1d1d1,
      #ffffff);
      background: -webkit-linear-gradient(
        to bottom,
        #aa0000 20%,
        #d1d1d1,
        #ffffff
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      font-family: "Italianno", cursive;
      font-size: 128px;
      font-weight: 400;
    }
    p {
      width: 100%;
      font-size: var(--font-size-title);
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      font-weight: var(--font-weight-bold);
      letter-spacing: 8px;
      color: var(--first-color);
    }
  }

  .contact-form-all {
    width: 90%;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    margin: auto;
    .contact-form {
      width: calc(90% - 250px);
      margin-right: 36px;
      .contact-lable {
        width: 100%;
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;

        input {
          width: 48%;
          height: 100%;
          border-radius: 8px;
          padding: 18px 36px;
          background-color: #ffffff88;
          font-size: var(--font-size-sec-title);
          font-family: var(--main-font);
          border: 2px solid var(--first-color);
          color: var(--first-color);
          outline: none;
          &:focus {
            background-color: var(--sup-one);
          }
        }
      }

      .Message-area {
        width: 100%;
        height: 360px;
        padding: 18px 36px;
        overflow-x: visible;
        overflow-y: visible;
        border: 2px solid var(--first-color);
        margin-bottom: 24px;
        border-radius: 8px;
        background-color: #ffffff88;
        font-size: var(--font-size-sec-title);
        color: var(--first-color);
        font-family: var(--main-font);
        outline: none;
        &:focus {
          background-color: var(--sup-one);
        }
      }

      .submit {
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          width: 300px;
          height: 60px;
          border-radius: 50px;
          border: 2px solid var(--first-color);
          background-color: var(--main-color);
          cursor: pointer;
          font-size: var(--font-size-subtitle);
          color: var(--first-color);
          font-weight: bolder;
          box-shadow: 0 0px 4px hsla(0, 42%, 46%, 0.75);
          font-family: var(--main-font);
        }

        button:hover {
          background-color: var(--first-color);
          color: var(--sup-two);
        }
      }
    }
    .contact-icon {
      width: 250px;
      height: 100%;
      a {
        display: inline-block;
        .line-link {
          display: flex;
          flex-direction: column;
          img {
            &:first-child {
              margin-bottom: 72px;
            }
          }
        }
      }
    }
  }
}
// Contact //
@media (max-width: 1200px) {
  .main-container {
    .contactus {
      .contact-form-all {
        flex-wrap: wrap;

        .contact-form {
          width: 100%;
          margin-right: 0px;
          padding-bottom: 60px;
        }
        .contact-icon {
          width: auto;
          a {
            height: 250px;
            .line-link {
              flex-direction: row;
              justify-content: center;
              margin: auto;
              img {
                height: 100%;
                &:first-child {
                  margin-bottom: 0px;
                  margin-right: 36px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 880px) {
  .main-container {
    .contactus {
      .title {
        margin-bottom: 40px;
      }
      .contact-form-all {
        .contact-form {
          .contact-lable {
            flex-wrap: wrap;
            margin-bottom: 12px;
            gap: 12px;
            input {
              width: 100%;
              padding: 16px;
              font-size: var(--font-size-subtitle);
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .main-container {
    .contactus {
      .title {
        margin-top: 28px;
        span {
          font-size: 96px;
        }
        p {
          font-size: var(--font-size-sec-title);
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .main-container {
    .contactus {
      .contact-form-all {
        .contact-icon {
          a{
            height: 150px;
            .line-link{
              height: 100%;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 375px) {
  .main-container {
    .contactus {
      .contact-form-all {
        .contact-icon {
          a{
            height: 200px;
            .line-link{
              height: 100%;
              img{
                &:first-child {
                  margin-right: 0px;
                }
                &:last-child{
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}