@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Noto+Sans+JP:wght@300;500;700;900&display=swap");
@import url("nav-footer.css");

:root {
  --main-font: "Noto Serif TC", serif;
  --main-color: #ffe2d7;
  --first-color: #a74444;
  --secondary-color: #3b6580;
  --sup-one: #faf8ef;
  --sup-two: #f0e6bc;
  --white: #ffffff;

  --font-size-title: 48px;
  --font-size-sec-title: 32px;
  --font-size-subtitle: 24px;
  --font-size-describe: 20px;

  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  .banner-768 {
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
    .title {
      position: relative;
      text-align: center;
      margin-top: 28px;
      p {
        background: linear-gradient(to bottom,  #aa0000 20%,
        #d1d1d1,
        #ffffff);
        background: -webkit-linear-gradient(
          to bottom,
          #aa0000 20%,
          #d1d1d1,
          #ffffff
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-family: "Italianno", cursive;
        font-size: 96px;
        font-weight: 400;
      }
      span {
        width: 100%;
        font-size: var(--font-size-sec-title);
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: var(--font-weight-bold);
        letter-spacing: 8px;
        color: var(--first-color);
      }
    }
  }
}
.main-container {
  width: 100%;
  background-color: var(--main-color);
  .main-content {
    width: 100%;
    .store {
      width: 100%;
      &:nth-of-type(2) {
        .store-info {
          flex-flow: row-reverse;
          img {
            border-radius: 0 16px 16px 0;
          }
          .store-detail {
            display: flex;
            align-items: center;
            border-radius: 16px 0 0 16px;
            padding: 36px 0px 36px 36px;
            .test-detail {
              border-width: 8px 0px 8px 8px;
              border-image: linear-gradient(
                to right,
                var(--first-color),
                rgba(255, 0, 0, 0)
              );
              border-image-slice: 1;
            }
          }
        }
      }
      .store-info {
        display: flex;
        padding-block: 80px;
        margin: auto;
        width: 70%;
        img {
          width: 50%;
          border-radius: 16px 0 0 16px;
        }
        .store-detail {
          display: flex;
          align-items: center;
          background-color: var(--sup-one);
          width: 50%;
          padding: 36px 36px 36px 0;
          border-radius: 0 16px 16px 0;

          .test-detail {
            width: 100%;
            height: 100%;
            padding: 64px 0;
            border-style: solid;
            border-width: 8px 8px 8px 0;
            border-image: linear-gradient(
              to right,
              rgba(255, 0, 0, 0),
              var(--first-color)
            );
            border-image-slice: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            clip-path: inset(0 round 8px);

            .test {
              color: var(--secondary-color);

              .Store-address {
                font-size: var(--font-size-title);
              }

              .small-test {
                letter-spacing: 5px;
                font-size: var(--font-size-subtitle);
              }

              .test-content:not(:last-child) {
                margin-bottom: 16px;
              }

              .bx {
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
  }

  .contactus {
    width: 100%;

    .title {
      position: relative;
      text-align: center;
      margin: 28px 0 80px 0;
      p {
        background: linear-gradient(to bottom,  #aa0000 20%,
        #d1d1d1,
        #ffffff);
        background: -webkit-linear-gradient(
          to bottom,
          #aa0000 20%,
          #d1d1d1,
          #ffffff
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-family: "Italianno", cursive;
        font-size: 128px;
        font-weight: 400;
      }
      span {
        width: 100%;
        font-size: var(--font-size-title);
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: var(--font-weight-bold);
        letter-spacing: 8px;
        color: var(--first-color);
      }
    }

    .contact-form-all {
      width: 90%;
      display: flex;
      justify-content: center;
      padding-bottom: 80px;
      margin: auto;
      .contact-form {
        width: calc(90% - 250px);
        margin-right: 36px;
        .contact-lable {
          width: 100%;
          margin-bottom: 24px;
          display: flex;
          justify-content: space-between;

          input {
            width: 48%;
            height: 100%;
            border-radius: 8px;
            padding: 18px 36px;
            background-color: #ffffff88;
            font-size: var(--font-size-sec-title);
            font-family: var(--main-font);
            border: 2px solid var(--first-color);
            color: var(--first-color);
            outline: none;
            &:focus {
              background-color: var(--sup-one);
            }
          }
        }

        .Message-area {
          width: 100%;
          height: 360px;
          padding: 18px 36px;
          overflow-x: visible;
          overflow-y: visible;
          border: 2px solid var(--first-color);
          margin-bottom: 24px;
          border-radius: 8px;
          background-color: #ffffff88;
          font-size: var(--font-size-sec-title);
          color: var(--first-color);
          font-family: var(--main-font);
          outline: none;
          &:focus {
            background-color: var(--sup-one);
          }
        }

        .submit {
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            width: 300px;
            height: 60px;
            border-radius: 50px;
            border: 2px solid var(--first-color);
            background-color: var(--main-color);
            cursor: pointer;
            font-size: var(--font-size-subtitle);
            color: var(--first-color);
            font-weight: bolder;
            box-shadow: 0 0px 4px hsla(0, 42%, 46%, 0.75);
            font-family: var(--main-font);
          }

          button:hover {
            background-color: var(--first-color);
            color: var(--sup-two);
          }
        }
      }
      .contact-icon {
        width: 250px;
        height: 100%;
        a {
          display: inline-block;
          .line-link {
            display: flex;
            flex-direction: column;
            img {
              &:first-child {
                margin-bottom: 72px;
              }
            }
          }
        }
      }
    }
  }
}
// Title //
@media (max-width: 768px) {
  .main-container {
    .banner {
      display: none;
    }
  }
  .main-container {
    .banner-768 {
      display: flex;
    }
  }
}
// Store //
@media (max-width: 1440px) {
  .main-container {
    .main-content {
      .store {
        .store-info {
          width: 80%;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .main-container {
    .main-content {
      .store {
        .store-info {
          width: 90%;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .main-container {
    .main-content {
      .store {
        &:nth-of-type(2) {
          .store-info {
            flex-wrap: wrap;
            img {
              border-radius: 16px 16px 0 0;
            }
            .store-detail {
              border-radius: 0 0 16px 16px;
              padding: 0 18px 18px;
              .test-detail {
                border-width: 0px 8px 8px 8px;
                border-image: linear-gradient(
                  to bottom,
                  rgba(255, 0, 0, 0),
                  var(--first-color)
                );
                border-image-slice: 1;
              }
            }
          }
        }
        .store-info {
          flex-wrap: wrap;
          width: 80%;
          img {
            width: 100%;
            border-radius: 16px 16px 0 0;
          }
          .store-detail {
            width: 100%;
            height: auto;
            border-radius: 0 0 16px 16px;
            padding: 0 18px 18px;
            .test-detail {
              border-width: 0px 8px 8px 8px;
              border-image: linear-gradient(
                to bottom,
                rgba(255, 0, 0, 0),
                var(--first-color)
              );
              border-image-slice: 1;
              padding: 32px 0;
              .test {
                .Store-address {
                  font-weight: var(--font-weight-semibold);
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .main-container {
    .main-content {
      .store {
        &:nth-of-type(2) {
          .store-info {
            .store-detail {
              .test-detail {
                border-width: 0px 4px 4px 4px;
                clip-path: inset(0 round 4px);
              }
            }
          }
        }
        .store-info {
          padding: 40px 0;
          .store-detail {
            .test-detail {
              border-width: 0px 4px 4px 4px;
              clip-path: inset(0 round 4px);
              padding: 24px 0;
              .test {
                .Store-address {
                  font-size: 28px;
                }
                .small-test {
                  letter-spacing: 2px;
                  font-size: var(--font-size-describe);
                }
                .test-content:not(:last-child) {
                  margin-bottom: 8px;
                }
                .bx {
                  margin-right: 4px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .main-container {
    .main-content {
      .store {
        &:nth-of-type(2) {
          .store-info {
            .store-detail {
              padding: 0 12px;
              .test-detail {
                border-style: none;
              }
            }
          }
        }
        .store-info {
          .store-detail {
            padding: 0 12px;
            .test-detail {
              border-style: none;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 475px) {
  .main-container {
    .main-content {
      .store {
        .store-info {
          width: 90%;
          .store-detail {
            .test-detail {
              .test {
                .Store-address {
                  font-size: var(--font-size-subtitle);
                }
                .small-test {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}
// Contact //
@media (max-width: 1200px) {
  .main-container {
    .contactus {
      .contact-form-all {
        flex-wrap: wrap;

        .contact-form {
          width: 100%;
          margin-right: 0px;
          padding-bottom: 60px;
        }
        .contact-icon {
          width: auto;
          a {
            height: 250px;
            .line-link {
              flex-direction: row;
              justify-content: center;
              margin: auto;
              img {
                height: 100%;
                &:first-child {
                  margin-bottom: 0px;
                  margin-right: 36px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 880px) {
  .main-container {
    .contactus {
      .title {
        margin-bottom: 40px;
      }
      .contact-form-all {
        .contact-form {
          .contact-lable {
            flex-wrap: wrap;
            margin-bottom: 12px;
            gap: 12px;
            input {
              width: 100%;
              padding: 16px;
              font-size: var(--font-size-subtitle);
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .main-container {
    .contactus {
      .title {
        margin-top: 28px;
        p {
          font-size: 96px;
        }
        span {
          font-size: var(--font-size-sec-title);
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .main-container {
    .contactus {
      .contact-form-all {
        .contact-icon {
          a{
            height: 150px;
            .line-link{
              height: 100%;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 375px) {
  .main-container {
    .contactus {
      .contact-form-all {
        .contact-icon {
          a{
            height: 200px;
            .line-link{
              height: 100%;
              img{
                &:first-child {
                  margin-right: 0px;
                }
                &:last-child{
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}