@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Noto+Sans+JP:wght@300;500;700;900&display=swap");
:root {
  --main-font: "Noto Serif TC", serif;
  --main-color: #ffe2d7;
  --first-color: #a74444;
  --secondary-color: #3b6580;
  --sup-one: #faf8ef;
  --sup-two: #f0e6bc;
  --white: #ffffff;
  --font-size-title: 48px;
  --font-size-sec-title: 32px;
  --font-size-subtitle: 24px;
  --font-size-describe: 20px;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-family: var(--main-font);
  overflow-x: hidden;
}
body .main-container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  margin: auto;
  background-color: var(--main-color);
}
body .main-container .background {
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
}
body .main-container .background img {
  width: 100%;
}
body .main-container .goTop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: var(--first-color);
  background-color: var(--sup-one);
  box-shadow: 0 0 8px rgba(167, 68, 68, 0.7333333333);
  z-index: 3;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
body .main-container .goTop.active {
  opacity: 1;
}
body .main-container .goTop i,
body .main-container .goTop p {
  display: inline-block;
  color: var(--first-color);
  font-size: 18px;
}
body .main-container .goTop i {
  transition: all 0.2s ease;
}
body .main-container .goTop:hover {
  cursor: pointer;
  background-color: var(--main-color);
}
body .main-container .goTop:hover i {
  transform: translateY(-5px);
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  padding: 0 40px;
  width: 100%;
  height: 100px;
  background-color: var(--white);
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-semibold);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.navbar .logo {
  width: 268px;
  height: 60px;
}
.navbar .logo img {
  width: 100%;
  height: 100%;
}
.navbar .nav {
  display: flex;
  gap: 4px;
}
.navbar .nav .nav-item {
  font-weight: var(--font-weight-semibold);
}
.navbar .nav .nav-item a {
  padding: 16px;
  color: var(--secondary-color);
}
.navbar .nav .nav-item:hover a {
  color: var(--main-color);
  background-color: var(--first-color);
}
.navbar .nav .nav-item:nth-child(5) a {
  color: var(--main-color);
  background-color: var(--first-color);
}
.navbar .nav .nav-item:nth-child(6) a {
  padding-block: 14px;
  border: 2px solid var(--first-color);
}
.navbar .nav .service {
  position: relative;
}
.navbar .nav .service:hover .navlist {
  display: block;
}
.navbar .nav .service .navlist {
  display: none;
  width: 288px;
  height: auto;
  position: absolute;
  top: 50px;
  left: 0;
  text-align: center;
  z-index: 2;
}
.navbar .nav .service .navlist .list-item:hover a {
  color: var(--secondary-color);
  background-color: var(--sup-one);
}
.navbar .nav .service .navlist a {
  display: inline-block;
  width: 100%;
  padding: 18px 36px;
  color: var(--sup-one);
  background-color: var(--first-color);
}
.navbar .nav-menu {
  display: none;
  cursor: pointer;
}
.navbar .nav-menu i {
  width: 70px;
  height: 100%;
  font-size: 48px;
  color: var(--first-color);
  line-height: 70px;
  text-align: center;
}
.navbar .nav-menu .bx-x {
  display: none;
}
.navbar .menu-list {
  position: absolute;
  left: 0;
  top: 70px;
  width: 100%;
  height: 100vh;
  background-color: var(--main-color);
  z-index: 1;
  opacity: 0;
  overflow-y: scroll;
  transform-origin: top right;
  transform: scale(0);
  transition: 0.3s linear;
}
.navbar .menu-list.active {
  transform: scale(1);
  opacity: 1;
}
.navbar .menu-list::-webkit-scrollbar {
  display: none;
}
.navbar .menu-list .menu {
  padding: 0px 20px;
}
.navbar .menu-list .menu .nav-item i {
  margin-right: 4px;
}
.navbar .menu-list .menu .nav-item:last-child a {
  border-bottom: none;
}
.navbar .menu-list .menu .nav-item .nav-list {
  font-size: var(--font-size-describe);
  padding-left: 12px;
}
.navbar .menu-list .menu .nav-item a {
  display: inline-block;
  width: 100%;
  padding: 16px 20px;
  color: var(--secondary-color);
  border-bottom: 1px dotted var(--first-color);
}

header {
  width: 100%;
  position: relative;
  overflow: hidden;
}
header .container {
  position: relative;
  width: 100%;
}
header .container .banner {
  width: 85%;
  margin: auto;
}
header .container .banner img {
  width: 100%;
}
header .container .banner-title {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: rgba(167, 68, 68, 0.7019607843);
  font-size: var(--font-size-title);
  padding: 20px 40px;
  color: var(--sup-one);
}
header .container .banner-title p {
  letter-spacing: 10px;
  text-align: left;
}
header .container .banner-title p:last-child {
  text-align: right;
}
header .news {
  width: 90%;
  transform: translate(30%, -40%);
}

main {
  width: 100%;
}
main .about {
  margin-top: -150px;
  width: 100%;
}
main .about .container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .about .container .about-imgOne {
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  width: 60%;
  aspect-ratio: 4/3;
}
main .about .container .about-imgOne img {
  width: 100%;
  height: 100%;
}
main .about .container .about-imgTwo {
  position: relative;
  width: 33%;
  aspect-ratio: 4/3;
  margin-top: -200px;
}
main .about .container .about-imgTwo img {
  width: 100%;
  height: 100%;
}
main .about .container .about-detail {
  position: relative;
  left: 40%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 40%;
  padding: 64px;
  background-color: var(--sup-one);
  box-shadow: 0 0 12px rgba(167, 68, 68, 0.4);
  z-index: 1;
  margin-top: -500px;
}
main .about .container .about-detail .about-imgL {
  position: absolute;
  top: -36.5%;
  left: -5px;
  height: 220px;
}
main .about .container .about-detail .title {
  color: var(--first-color);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  letter-spacing: 8px;
}
main .about .container .about-detail .title span {
  background: linear-gradient(to bottom, #aa0000 20%, #d1d1d1, #ffffff);
  background: -webkit-linear-gradient(to bottom, #aa0000 20%, #d1d1d1, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Italianno", cursive;
  font-size: 128px;
  font-weight: 400;
}
main .about .container .about-detail p {
  color: var(--secondary-color);
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
  letter-spacing: 4px;
}
main .about .container .about-detail .more {
  width: 200px;
  height: 60px;
  background-color: var(--secondary-color);
  color: var(--sup-one);
  box-shadow: 0 0 12px rgba(209, 209, 209, 0.7333333333);
  font-size: var(--font-size-describe);
  font-weight: var(--font-weight-bold);
  margin-top: 16px;
  text-align: center;
  line-height: 60px;
  letter-spacing: 4px;
}
main .about .container .about-detail .more:hover {
  background-color: var(--first-color);
}
main .about .about-imgR {
  position: relative;
  left: 80%;
  width: 250px;
  margin-top: -80px;
}
main .service {
  position: relative;
  width: 100%;
}
main .service .container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(167, 68, 68, 0.2);
  padding-block: 200px;
  gap: 20px;
  overflow: hidden;
}
main .service .container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 202px;
  background: url(../Image/BG/service-bg-top.png) no-repeat;
  background-size: cover;
  background-position: center;
}
main .service .container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 202px;
  background: url(../Image/BG/service-bg-bottom.png) no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}
main .service .container .service-line {
  position: absolute;
  top: 0;
  left: -3px;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
main .service .container .title {
  position: relative;
  text-align: center;
  margin-bottom: 28px;
}
main .service .container .title p {
  background: linear-gradient(to bottom, #aa0000 20%, #d1d1d1, #ffffff);
  background: -webkit-linear-gradient(to bottom, #aa0000, #d1d1d1, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Italianno", cursive;
  font-size: 128px;
  font-weight: 400;
  letter-spacing: 16px;
}
main .service .container .title span {
  width: 100%;
  font-size: var(--font-size-title);
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: var(--font-weight-bold);
  letter-spacing: 8px;
  color: var(--first-color);
}
main .service .more {
  display: inline-block;
  width: 200px;
  height: 60px;
  background-color: var(--secondary-color);
  color: var(--sup-one);
  box-shadow: 0 0 12px rgba(209, 209, 209, 0.7333333333);
  font-size: var(--font-size-describe);
  font-weight: var(--font-weight-bold);
  text-align: center;
  line-height: 60px;
  letter-spacing: 4px;
}
main .service .more:hover {
  background-color: var(--first-color);
}

.marquee {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
.marquee .title {
  position: relative;
  text-align: center;
  margin-bottom: 28px;
}
.marquee .title p {
  background: linear-gradient(to bottom, #aa0000 20%, #d1d1d1, #ffffff);
  background: -webkit-linear-gradient(to bottom, #aa0000, #d1d1d1, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Italianno", cursive;
  font-size: 128px;
  font-weight: 400;
  letter-spacing: 16px;
}
.marquee .title span {
  width: 100%;
  font-size: var(--font-size-title);
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: var(--font-weight-bold);
  letter-spacing: 8px;
  color: var(--first-color);
}
.marquee .photo-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.marquee .photo-container .view {
  overflow: hidden;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.marquee .photo-container .view:nth-of-type(2) {
  position: relative;
  left: -10%;
  align-items: start;
}
.marquee .photo-container .view:nth-of-type(2) .pic-container {
  display: flex;
  flex-flow: row-reverse;
  margin-top: -8%;
  animation: toRight 20s infinite linear;
}
@keyframes toRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.marquee .photo-container .view:nth-of-type(2) .pic-container .pic {
  flex-basis: 20%;
  flex-shrink: 0;
}
.marquee .photo-container .view:nth-of-type(2) .pic-container .pic img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.marquee .photo-container .view img {
  width: 90%;
}
.marquee .photo-container .view .pic-container {
  display: flex;
  margin-top: -8%;
  animation: toLeft 20s infinite linear;
}
@keyframes toLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.marquee .photo-container .view .pic-container .pic {
  flex-basis: 20%;
  flex-shrink: 0;
}
.marquee .photo-container .view .pic-container .pic img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.marquee .more {
  display: inline-block;
  width: 200px;
  height: 60px;
  background-color: var(--secondary-color);
  color: var(--sup-one);
  box-shadow: 0 0 12px rgba(209, 209, 209, 0.7333333333);
  font-size: var(--font-size-describe);
  font-weight: var(--font-weight-bold);
  margin-top: 32px;
  text-align: center;
  line-height: 60px;
  letter-spacing: 4px;
}
.marquee .more:hover {
  background-color: var(--first-color);
}

.more-link {
  position: relative;
  width: 100%;
  padding: 60px 0;
}
.more-link .title {
  position: relative;
  text-align: center;
  margin-bottom: 28px;
}
.more-link .title p {
  background: linear-gradient(to bottom, #aa0000 20%, #d1d1d1, #ffffff);
  background: -webkit-linear-gradient(to bottom, #aa0000 20%, #d1d1d1, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Italianno", cursive;
  font-size: 128px;
  font-weight: 400;
  letter-spacing: 16px;
}
.more-link .title span {
  width: 100%;
  font-size: var(--font-size-title);
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: var(--font-weight-bold);
  letter-spacing: 8px;
  color: var(--first-color);
}
.more-link .related-img {
  position: absolute;
  top: -5%;
  right: 8%;
  width: 270px;
  z-index: -2;
}
.more-link .container {
  width: 100%;
  background-color: var(--sup-one);
  padding: 40px 0;
}
.more-link .container .link {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 60px 0;
  gap: 16px;
  border-top: 1px solid var(--first-color);
  border-bottom: 1px solid var(--first-color);
}
.more-link .container .link a {
  display: inline-block;
}
.more-link .container .link a img {
  height: 100%;
}

.footer {
  width: 100%;
  height: 300px;
}
.footer .container {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 90px;
  color: var(--secondary-color);
  font-size: var(--font-size-describe);
  font-weight: var(--font-weight-medium);
}
.footer .container .info {
  width: 640px;
}
.footer .container .info .content-img {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.footer .container .info .content-img img {
  height: 60px;
}
.footer .container .info .content {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.footer .container .info .content li:hover a {
  background-color: var(--first-color);
  color: var(--main-color);
}
.footer .container .info .content li a {
  padding: 4px 8px;
  color: var(--secondary-color);
}
.footer .container .store {
  display: flex;
  align-items: center;
  gap: 32px;
}
.footer .container .store .store-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer .container .store .store-info p i {
  margin-right: 4px;
}

@media (max-width: 1200px) {
  .navbar {
    font-size: 22px;
  }
  .navbar .nav .service .navlist {
    top: 40px;
  }
  .navbar .nav .nav-item a {
    padding: 16px 8px;
  }
}
@media (max-width: 991px) {
  .navbar {
    height: 70px;
    padding: 0 0 0 20px;
  }
  .navbar .logo {
    width: 201px;
    height: 45px;
  }
  .navbar .nav {
    display: none;
  }
  .navbar .nav-menu {
    display: block;
  }
}
@media (max-width: 375px) {
  .navbar .menu-list .menu .nav-item {
    font-size: 18px;
  }
  .navbar .menu-list .menu .nav-item .nav-list {
    font-size: 16px;
  }
}
@media (max-width: 1400px) {
  .footer .container {
    padding: 0 40px;
  }
  .footer .container .info .content {
    gap: 12px;
  }
  .footer .container .store {
    gap: 12px;
  }
}
@media (max-width: 1280px) {
  .footer .container {
    font-size: 16px;
  }
  .footer .container .info {
    width: 360px;
  }
  .footer .container .info .content-img {
    height: 40px;
  }
  .footer .container .info .content-img img {
    height: 40px;
  }
  .footer .container .info .content {
    margin-top: 8px;
    gap: 8px;
  }
  .footer .container .store .store-info {
    gap: 0px;
  }
}
@media (max-width: 880px) {
  .footer .container {
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    padding: 28px;
  }
  .footer .container .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .container .info .content-img {
    width: 30%;
    margin-right: 20px;
    gap: 12px;
    margin-bottom: 16px;
  }
  .footer .container .info .content-img img {
    height: 40px;
  }
  .footer .container .info .content {
    width: 70%;
    font-size: 16px;
    margin-top: 0;
    justify-content: center;
  }
  .footer .container .info .content li a {
    padding: 0;
  }
  .footer .container .store {
    width: 100%;
    margin-top: 28px;
    justify-content: space-evenly;
  }
}
@media (max-width: 570px) {
  .footer {
    height: auto;
  }
  .footer .container .info {
    align-items: start;
  }
  .footer .container .info .content {
    display: inline-block;
    padding-left: 16px;
    font-size: 18px;
  }
  .footer .container .info .content li {
    padding: 6px 0;
  }
  .footer .container .store {
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }
}
@media (max-width: 1440px) {
  header .container .banner {
    width: 90%;
  }
  header .container .banner-title {
    width: 50%;
  }
}
@media (max-width: 1200px) {
  header .container .banner {
    width: 90%;
  }
  header .container .banner-title {
    font-size: var(--font-size-sec-title);
  }
}
@media (max-width: 850px) {
  header .container .banner {
    width: 95%;
  }
  header .container .banner-title {
    top: 40%;
    transform: translateY(-40%);
    padding: 10px 20px;
  }
  header .container .banner-title p {
    letter-spacing: 5px;
  }
}
@media (max-width: 768px) {
  header .container .banner {
    width: 95%;
  }
  header .container .banner-title {
    width: 60%;
    font-size: var(--font-size-subtitle);
  }
  header .container .banner-title p {
    letter-spacing: 3px;
  }
}
@media (max-width: 440px) {
  header .container .banner {
    width: 100%;
  }
  header .container .banner-title {
    width: 100%;
    transform: translateY(100%);
    font-size: var(--font-size-describe);
  }
  header .container .banner-title p {
    letter-spacing: 3px;
    text-align: center;
  }
  header .container .banner-title p:last-child {
    text-align: center;
  }
  header .news {
    display: none;
  }
}
@media (max-width: 1600px) {
  main .about .container .about-detail {
    width: 600px;
    height: 450px;
    padding: 28px 56px;
    margin-top: -400px;
  }
  main .about .container .about-detail .title {
    font-size: var(--font-size-sec-title);
    font-weight: var(--font-weight-bold);
    letter-spacing: 4px;
  }
  main .about .container .about-detail .title span {
    font-size: 64px;
  }
}
@media (max-width: 1440px) {
  main .about .about-imgR {
    width: 180px;
  }
  main .about .container .about-detail {
    margin-top: -350px;
  }
  main .about .container .about-detail .title {
    font-size: var(--font-size-sec-title);
    font-weight: var(--font-weight-bold);
    letter-spacing: 4px;
  }
  main .about .container .about-detail .title span {
    font-size: 64px;
  }
}
@media (max-width: 992px) {
  main .about {
    margin-top: -100px;
  }
  main .about .about-imgR {
    width: 120px;
    margin-top: -40px;
  }
  main .about .container .about-imgOne {
    width: 50%;
  }
  main .about .container .about-imgTwo {
    margin-top: -100px;
  }
  main .about .container .about-detail {
    width: 50%;
    height: 350px;
    padding: 28px;
    margin-top: -200px;
    justify-content: space-evenly;
  }
  main .about .container .about-detail .title {
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-bold);
    letter-spacing: 4px;
  }
  main .about .container .about-detail .title span {
    font-size: 64px;
  }
  main .about .container .about-detail p {
    color: var(--secondary-color);
    font-size: var(--font-size-describe);
    font-weight: var(--font-weight-medium);
    line-height: 1.3;
    letter-spacing: 2px;
  }
  main .about .container .about-detail .more {
    width: 150px;
    height: 45px;
    line-height: 45px;
    letter-spacing: 2px;
  }
}
@media (max-width: 768px) {
  main .about {
    margin-top: -50px;
  }
  main .about .about-imgR {
    width: 120px;
    margin-top: -40px;
  }
  main .about .container .about-imgOne {
    width: 70%;
  }
  main .about .container .about-imgTwo {
    display: none;
  }
  main .about .container .about-detail {
    width: 70%;
    left: 5%;
    transform: translate(0%);
  }
}
@media (max-width: 610px) {
  main .about {
    margin-top: 0px;
    margin-bottom: 40px;
  }
  main .about .about-imgR {
    display: none;
  }
  main .about .container .about-imgOne {
    width: 90%;
  }
  main .about .container .about-detail {
    margin-top: -300px;
    padding: 16px;
    align-items: center;
  }
  main .about .container .about-detail p {
    font-size: 18px;
  }
}
@media (max-width: 440px) {
  main .about .container .about-imgOne {
    display: none;
  }
  main .about .container .about-imgTwo {
    display: none;
  }
  main .about .container .about-detail {
    width: 98%;
    left: 50%;
    transform: translate(-50%);
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  main .service .container .title p {
    font-size: 96px;
  }
  main .service .container .title span {
    font-size: var(--font-size-sec-title);
  }
  main .service .more {
    width: 150px;
    height: 45px;
    line-height: 45px;
    letter-spacing: 2px;
  }
}
@media (max-width: 480px) {
  main .service .container {
    padding-block: 28px;
    gap: 0;
  }
  main .service .container::after {
    display: none;
  }
  main .service .container::before {
    display: none;
  }
  main .service .container .title p {
    letter-spacing: 8px;
    font-size: 68px;
  }
  main .service .container .title span {
    font-size: 20px;
  }
  main .service .container .service-line {
    display: none;
  }
}
@media (max-width: 768px) {
  main .marquee .title p {
    font-size: 96px;
  }
  main .marquee .title span {
    font-size: var(--font-size-sec-title);
  }
  main .marquee .more {
    width: 150px;
    height: 45px;
    line-height: 45px;
    letter-spacing: 2px;
  }
}
@media (max-width: 480px) {
  main .marquee {
    margin: 0;
  }
  main .marquee .photo-container {
    align-items: start;
  }
  main .marquee .photo-container .view {
    width: 100%;
  }
  main .marquee .photo-container .view:nth-of-type(2) {
    left: 0%;
  }
  main .marquee .title {
    margin-bottom: 0;
    margin-top: 28px;
  }
  main .marquee .title p {
    letter-spacing: 8px;
    font-size: 68px;
  }
  main .marquee .title span {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  main .more-link .title p {
    font-size: 96px;
  }
  main .more-link .title span {
    font-size: var(--font-size-sec-title);
  }
}
@media (max-width: 480px) {
  main .more-link .title p {
    letter-spacing: 8px;
    font-size: 68px;
  }
  main .more-link .title span {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .more-link .related-img {
    display: none;
  }
  .more-link .container .link {
    padding: 30px 0;
    flex-wrap: wrap;
  }
}
@media (max-width: 880px) {
  body .main-container .goTop {
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */