@import url("https://fonts.cdnfonts.com/css/segoe-ui-4");

/* All-element */
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}
html{
  scroll-behavior: smooth;
}
body {
  position: relative;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.width-normal {
  width: 90%;
  margin: auto;
}

.width-full {
  width: 100%;
  margin: auto;
}

/* Navigation */
.navbar {
  position: relative;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav,
.nav-menu,
.nav-func,
.func-menu {
  display: flex;
  align-items: center;
}

.nav .logo {
  width: 108px;
  height: 23px;
  margin-right: 20px;
  margin-top: -4px;
}

nav .menu a,
nav .menu a:hover,
nav .menu a:visited {
  color: #262626;
}

.nav-menu a,
.func-menu a {
  font-size: 13px;
  padding: 14px 10px 10px;
  border: 1px dashed transparent;
  vertical-align: top;
}

.func-menu:first-child {
  margin-right: 4px;
}

.func-menu li i {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  margin-left: 2px;
}

.func-menu .user i {
  font-size: 38px;
}

/* menu-link */
.menu li a span {
  padding-bottom: 1px;
}

.menu li a:hover span {
  border-bottom: 2px solid #262626;
}

.menu li a:focus span {
  border-bottom: 2px solid #262626;
}

.menu li a:focus {
  border: 1px dashed #262626;
}
/* Mobile-Menu */
.mobile-menu {
  display: none;
}
.mobile-menu .bx-menu {
  cursor: pointer;
  padding: 10px;
}

.mobile-menu-container {
  display: none;
  position: absolute;
  top: 54px;
  left: 0;
  width: 100%;
  z-index: 101;
  background-color: #f2f2f2;
  border-bottom: 1px solid #000000;
  transition: 0.2s ease;
}
.mobile-menu-list {
  background-color: #f2f2f2;
}
.mobile-menu li {
  display: block;
  border-bottom: 1px solid #cccccc;
  padding: 1px;
}
.mobile-menu li a,
.menu-list-label li span {
  display: block;
  padding: 15px;
  border: 1px dotted transparent;
}

.mobile-menu li a,
.mobile-menu li a:hover,
.mobile-menu li a:visited {
  color: #262626;
}
.mobile-menu li a:focus,
.menu-list-label li span:focus {
  border: 1px dashed #262626;
}

#mobile-swith:checked + .mobile-menu-container {
  display: block;
}

.menu-list-label li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.menu-list-label li i {
  font-size: 24px;
}
.mobile-menu .dropdown-menu {
  display: none;
  margin-left: 24px;
}
.mobile-menu li i:nth-of-type(1) {
  display: none;
}

.menu-list-switch:checked + label + .dropdown-menu,
.menu-list-switch:checked + label li i:nth-of-type(1) {
  display: block;
}

.menu-list-switch:checked + label li i:nth-of-type(2) {
  display: none;
}

.menu-list-switch:not(:checked) + label .dropdown-menu {
  display: none;
}

/* All-microsoft-list */
.all-microsoft-container {
  display: none;
  position: absolute;
  width: 100%;
  top: 50px;
  right: 0;
  border: 1px solid #cccccc80;
  border-bottom: 2px solid #000000;
  z-index: 100;
  transition: 0.2s ease;
}

.all-microsoft-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: #f2f2f2;
  color: #262626;
}

.all-microsoft-list .list-item {
  font-size: 13px;
}

.all-microsoft-list .menu {
  align-items: flex-start;
  flex-direction: column;
  margin: 10px 0;
}

.all-microsoft-list .menu li:first-child {
  color: #000000;
  font-weight: bolder;
  padding: 0 10px;
}
.all-microsoft-list .menu li {
  padding: 10px 0;
}
.all-microsoft-list .menu a {
  border: 1px dashed transparent;
  padding: 8px 10px;
}
.all-microsoft-map {
  text-align: center;
  background-color: #e6e6e6;
  padding: 10px 0;
}
.all-microsoft-map a {
  font-size: 13px;
  color: #000000cc;
}
.all-microsoft-map i {
  vertical-align: middle;
  font-size: 18px;
}
#microsoft-swith:checked + .all-microsoft-container {
  display: block;
}
.microsoft {
  color: #262626;
  font-size: 13px;
  padding: 16px 2px 6px;
  border: 1px dashed transparent;
  vertical-align: middle;
}
.microsoft:hover {
  cursor: pointer;
}
.microsoft span {
  padding-bottom: 1px;
}
.microsoft:hover span {
  border-bottom: 2px solid #262626;
}
.microsoft:focus {
  border: 1px dashed #262626;
}
/* Main-Select */
.select {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 68px 20px;
}

.select-link img {
  width: 40px;
  height: 40px;
  margin-bottom: 2px;
}

.select-link a {
  font-weight: 700;
  text-decoration: underline;
}

/* Card-link */
.card-link a {
  font-weight: 700;
  border: 3px dotted transparent;
}

.card-link a,
.card-link a:hover,
.card-link a:visited {
  color: #0067b8;
}

.card-link a:focus {
  border: 3px dotted #0067b8;
}

/* Card */
.card-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  width: 100%;
}

.card img {
  width: 100%;
}

.card-content {
  margin: 12px 0 20px;
}

.card-content .title {
  font-size: 29px;
  line-height: 1.2;
  margin-bottom: 12px;
}

.card-content .content {
  line-height: 1.5;
}

.card-link a {
  margin-bottom: 2px;
  line-height: 1.5;
}

.card-link i {
  vertical-align: middle;
  font-size: 28px;
  transition: 0.3s ease;
}
.card-link a:hover span {
  text-decoration: underline;
}

.card-link a:hover i {
  margin-left: 5px;
}

.big-title {
  font-size: 37px;
}

/* Banner */
.banner-img {
  position: relative;
}

.banner-img img {
  width: 100%;
  margin: 100px 0;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  padding: 0 48px;
  width: 41.6%;
  box-sizing: border-box;
}

.banner-content .title {
  font-size: 37px;
}

.banner-content .content {
  margin: 20px 0 40px;
}

/* Banner-link */
.banner-content a {
  padding: 2px 5px;
  font-weight: 700;
  color: #ffffff;
  background-color: #0067b8;
  box-shadow: 0 0 0 4px #0067b8;
  border: 3px dotted transparent;
  margin-left: 7px;
}

.banner-content a:hover {
  background-color: #005799;
  box-shadow: 0 0 0 4px #005799;
}

.banner-content a:focus {
  border: 3px dotted #ffffff;
}
/* Socail */
.social {
  position: relative;
}
.social-link {
  font-size: 14px;
  margin: 50px 0;
}
.social-info {
  margin-bottom: 50px;
}
.social-link img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin: 0 10px;
}
.social-link span {
  margin-left: 5px;
}
.go-top {
  position: sticky;
  bottom: 50px;
  float: right;
  margin-bottom: 40px;
  color: #000000;
  padding: 10px 15px;
  background-color: #cccccc;
}
.go-top:hover {
  background-color: #ffffff;
  box-shadow: 0 0 5px 1px #cccccc;
}
.go-top i {
  vertical-align: middle;
  font-size: 24px;
}
/* Footer */
footer.width-full {
  background-color: #f2f2f2;
  margin-top: 20px;
  clear: both;
}
footer.width-full .width-normal {
  display: flex;
  flex-direction: column;
}
/* .footer-menu, */
.footer-menu,
.footer-nav,
.privacy .menu {
  display: flex;
  font-size: 11px;
}

.footer-menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 40px 0;
}
.footer-menu .menu li:first-child {
  font-size: 15px;
  font-weight: 700;
}
.footer .menu {
  color: #616161;
}
.footer .menu li {
  margin-bottom: 15px;
}
.footer .menu li a {
  padding: 5px 0;
  color: #616161;
  border: 1px dashed transparent;
}
.footer .menu li a span {
  padding-bottom: 0px;
}
.footer .menu li a:hover span {
  border-bottom: 1px solid #262626;
}
.footer .menu li a:focus span {
  border-bottom: 1px solid #262626;
}
.footer .menu li a:focus {
  border: 1px dashed #262626;
}
.footer-nav {
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.footer-nav .ccpa {
  display: flex;
  align-items: center;
}

.footer-nav .privacy .menu {
  align-items: center;
}
.footer-nav .privacy .menu li {
  margin: 0 5px;
}
.footer-nav a {
  padding: 5px 0;
  font-size: 11px;
  color: #616161;
  margin-right: 16px;
}

.footer-nav a img {
  width: 24px;
  vertical-align: middle;
  margin-right: 8px;
}

.footer-nav a:last-child img {
  width: 28px;
}
.footer-nav .ccpa a span {
  padding-bottom: 0px;
}
.footer-nav .ccpa a:hover span {
  border-bottom: 1px solid #262626;
}
.footer-nav .ccpa a:focus span {
  border-bottom: 1px solid #262626;
}
.footer-nav .ccpa a:focus {
  border: 1px dashed #262626;
}
@media (max-width: 1400px) {
  .func-menu li span:not(.pc-menu) {
    display: none;
  }
  .all-microsoft-container {
    width: 98%;
  }
  .card-link a {
    display: inline-block;
  }
}

@media (max-width: 1083px) {
  .width-normal {
    width: 96%;
  }
  .all-microsoft-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .card-group {
    grid-template-columns: repeat(2, 1fr);
  }
  .banner-img img {
    margin: 100px 0 150px;
  }
  .banner-content {
    top: 70%;
    width: 95%;
    height: 200px;
    left: 50%;
    right: unset;
    transform: translateX(-50%);
    box-shadow: 0 0 5px #cccccc;
    background-color: #ffffff;
    color: #000000;
    padding: 24px 48px;
  }
  .banner-content .title {
    font-size: 29px;
  }
  .banner-content .content {
    margin: 20px 0 40px;
  }
  .footer-menu {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .footer-nav .ccpa {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
  .footer-nav .privacy .menu li {
    margin: 0 0px;
  }
}
@media (max-width: 859px) {
  .nav-menu {
    display: none;
  }
  .nav .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 108px;
    height: 23px;
    margin-right: 0px;
    margin-top: 0px;
  }
  .all-microsoft {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .navbar {
    justify-content: start;
  }
  .nav-func {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner-img {
    margin-bottom: 150px;
  }
  .banner-content {
    top: 10%;
    padding: 18px 48px;
    width: 100%;
    box-sizing: border-box;
    transform: translate(-50%, 250%);
    box-shadow: 0 0 0px transparent;
  }
}
@media (max-width: 605px) {
  .select {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .select-link {
    margin: 16px 20px;
  }
  .banner-content {
    top: -10%;
    padding: 8px 48px;
  }
  .footer-nav {
    flex-direction: column;
    align-items: start;
  }
  .footer-nav .ccpa {
    margin-bottom: 20px;
  }
}
@media (max-width: 540px) {
  .card-group {
    grid-template-columns: 1fr;
  }
  .big-title {
    margin-top: 50px;
  }
  .footer-menu {
    padding: 20px 0px;
    grid-template-columns: 1fr;
  }
  .footer-menu .menu {
    margin-bottom: 15px;
  }
  footer.width-full .width-normal {
    width: calc(100% - 30px);
    padding: 15px;
  }
}
@media (max-width: 440px) {
  .width-normal {
    width: 98%;
  }
  .banner-content {
    top: -30%;
  }
  .footer-nav .privacy .menu {
    flex-wrap: wrap;
  }
}
